html, body {
  margin: 0;
  padding: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

.header {
	display: inline;
}

.container {
	margin: 0 auto;
	max-width: 930px; 
	padding: 0 10px; 
	display: inline;
}

.supporting {
  background-color: #5a5a5a;
  text-align: center;
  padding: 40px 0 60px;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 50px;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer{
  display: inline;
  background-color: #5a5a5a;
}